DATABASE_URL = "" # Get this from your Prisma Cloud dashboard
SESSION_SECRET = "" # You can generate a random string for this, e.g. using `openssl rand -base64 32`
LOG_LEVEL="" # Can choose either between info and debug. Doesn't do much except change how data is displayed in the console and written to the log file
LOG_TO_FILE="true" # Boolean value, whether to use the logger to write to a log file
LOG_RETENTION_DAYS="365" # A numerical positive integer value on how long to keep old log files